/*? CONTAINERS */

.form_container{
    padding: 10rem 0; 
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.2));
}

.form{
    background-color: white;
    width: 1000px;
    max-width: 100%;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px 0;
    background-image: url("./../../assets/img/form.jpg");
    background-repeat: no-repeat;
    line-height: 1rem;
    mask: radial-gradient(circle .8rem at 2px 50%, #0000 98%, #000)0 0/100% 2.4rem;

}

.name_container, .summary_container, .diets_container, .hs_container, .image_container, .inst_container{
    display: flex;
    flex-direction: column;
    text-align:left;
    width: 800px;
    margin-top: 20px;
}

/*? LABELS */

.name_label, .summary_label, .diets_label, .hs_label, .image_label, .inst_label{
    font-size: 1.075rem;
    color: white;
    font-weight: 500;
    margin-bottom: 5px;
    padding-left: 5px;
    position: relative;
}

/*? LINE-THROUGHS */

.name_label .mark, .summary_label .mark, .diets_label .mark, .hs_label .mark, .image_label .mark, .inst_label .mark{
    position: absolute;
    background-color: #539309;
    display: inline-block;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateY(3%);
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
}

.name_label .mark{
    width: 8%;
}
.summary_label .mark{
    width: 11%;
}
.diets_label .mark{
    width: 6%;
}
.hs_label .mark{
    width: 14%;
}
.image_label .mark{
    width: 8%;
}
.inst_label .mark{
    width: 13%;
}

/*? DIETS */

.all_diets{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/*? INPUTS */

.name_input, .summary_input, .hs_input, .image_input, .inst_textarea {
        border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
        border-style: solid;
        border-width: 2px;
        box-sizing: border-box;
        color: black;
        padding: 8px;
        transition: transform 0.2s ease-in-out;
        border-bottom-left-radius: 15px 255px;
        border-bottom-right-radius: 225px 15px;
        border-top-left-radius: 255px 15px;
}

/*? SPANS */

.name_span, .summary_span, .errors_span, .hs_span, .image_span, .inst_span{
    padding-top: 7px;
    color: red;
    font-weight: 600;
}

/*? BACK TO HOME */

.back {
    display: flex;
    transition: 0.2s ease-in-out;
}

.back img{
    width: 15px;
    margin-right: 10px;
}

.back h4{
    font-size: 1.1rem;
    text-decoration: none;
    color:#1b1c1b;
    transition: 0.3s ease-in-out;
}

.back:hover{
    transform: translateX(-5px);
}

.back h4:hover{
    text-decoration: underline;
}


/*? BUTTON */

.form_button {
    align-self: center;
    background-color: #539309;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    border-color: #539309;
    color: white;
    cursor: pointer;
    font-family: "Comic";
    font-size: 1.2rem;
    font-weight: 400;
    outline: none;
    padding: 8px 80px;
    margin-top: 30px;
    text-decoration: none;
    transition: transform 0.2 ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    
}

.form_button:hover {
    background-color: black;
    border-color: black;
    color: white;
    transform: translateY(-2px);
}

.form_button:disabled, .form_button[disabled], .form_button:disabled:hover{
    background-color: #cccccc;
    border-color: #666666;
    color: #666666;
    cursor: no-drop;
    transition: none;
    transform: none;
}
