
/*? CARD */

.recipe_card{
    background-color: white;
    width: 350px;
    max-width: 100%;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 30px;
    background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px), #b9d8ec 0 1.2rem) right bottom /100% 100%,linear-gradient(red 0 0) 30px 0/2px 100% #f4f7f3;
    background-repeat: no-repeat;
    line-height: 1rem;
    mask: radial-gradient(circle .8rem at 2px 50%, #0000 98%, #000)0 0/100% 2.4rem;
    position: relative;
}

.recipe_card::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 45px;
    background: #e6e6e6b8;
    transform: rotate(45deg);
}

.recipe_card::before {
    left: 60%;
    top: 0;
}
*{
    text-decoration: none;
}

/*? IMAGE */

.recipe_img {
    height: calc(13*1.2rem);
    padding: 1.2rem 1.2rem 0;
    
}

.recipe_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*? TITLES, P, SPAN  */

h3.recipe_h3 {
    font-family: "Comic";
    margin: 1.2rem 0;
    font-size: 1.3em;
    padding: 0 10px;
    line-height: 1.2rem;
    position: relative;
}

.recipe_diets {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    column-gap: 30px;
    gap: 0.1px;
    text-align: left;
    padding-left: 35px;
    line-height: 20px;
    justify-content: center;
    align-items: center;
}

.recipe_h3 {
    color: white;
    font-weight: 300;
}

.recipe_mark {
    background: linear-gradient(to bottom, transparent, transparent 2%, #539309 2%, #539309 80%, transparent 90%, transparent);
    margin: 1px;
    padding: 0 0.5em;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 270px 5px;
    border-top-left-radius: 255px 15px;
}

.recipe_footer{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*? BUTTON  */

.recipe_button {
    align-self: center;
    background-color: white;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: black;
    border-color: #1b1c1b;
    cursor: pointer;
    font-family: "Comic";
    font-size: 1.2rem;
    font-weight: 400;
    outline: none;
    padding: 8px 80px;
    text-decoration: none;
    transition: transform 2 ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;

}

.recipe_button:hover {
    background-color: #1b1c1b;
    border-color: #1b1c1b;
    color: white;
}
