.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar input{
    background-color: white;
        border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
        border-style: solid;
        border-width: 2px;
        color: black;
        border-color: #1b1c1b;
        width: 500px;
        font-family: "Comic";
        font-size: 1rem;
        font-weight: 400;
        padding: 7.5px ;
        outline: none;
        text-decoration: none;
        transition: transform 2 ease-in-out;
        border-bottom-left-radius: 15px 255px;
        border-bottom-right-radius: 225px 15px;
        border-top-left-radius: 255px 15px;
    }

    .searchBar input:focus{
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
    }
    
    .search_button, .refresh_button{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 7px 10px;
    }

    .search_button:hover, .refresh_button:hover{
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
    }

    .search_button img{
        width: 20px;
        padding-right: 5px;
    }
    
    .refresh_button img{
        width: 25px;
        height: 19px;
        padding-right: 5px;
    }

    .search_button, .refresh_button{
        background-color: #1b1c1b;
        border-color: #1b1c1b;
        color: white;
        font-size: 1rem;
        
}