.navbar{
    background-color: #1b1c1b;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
}

.header_links{
    text-decoration: none;
    padding: 3px 0;
    margin: 0 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_home, .header_new, .header_exit{
    font-size: 1em;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    color: white;
}


.header_home::after, .header_new::after, .header_exit::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("./../../assets/img/icon-nav.png");
    background-size: cover;
    top: calc(10% + 5px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.header_home:hover::after, .header_new:hover::after, .header_exit:hover::after{
    opacity: 1;
}


